
.h1Loader {
    text-align: center;
    font-size: 3rem;
    color: #0c4331;
    text-shadow: 1px 1px 2px rgba(11, 153, 219, 0.2);
    margin-top: 15rem;
    margin-bottom: 2rem;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 1.2;
    text-transform: uppercase;
  }
  
  .h2Loader {
    text-align: center;
    font-size: 2rem;
    color: #15986d;
    text-shadow: 1px 1px 2px rgba(11, 153, 219, 0.2);
    margin-top: 0rem;
    margin-bottom: 2rem;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 1.2;
    text-transform: uppercase;
  }
   

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -400px;
    height: 100vh;
  }
  
  .loader {
    position: relative;
    width: 80%;
    height: 20px;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(to right, #09d4d4, #00d0b7);
    border-radius: 10px;
    animation: progress 2s ease-in-out infinite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  @keyframes progress {
    0% {
      width: 0%;
    }
    50% {
      width: 50%;
    }
    100% {
      width: 100%;
    }
  }
  


.buttonBuy {
  position: fixed;
  bottom: 3%;
  right: 1%;
  background-color: #ff0202;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.6rem 0.8rem;
  text-transform: uppercase;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}